<!-- <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full">

            <ol
                class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
                <li
                    class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Contacto
                    </span>
                </li>
                <li
                    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <span class="mr-2">⚫</span>
                        Ubicacion
                    </span>
                </li>
                <li class="flex items-center">
                    <span class="mr-2">⚫</span>
                    Otros
                </li>
            </ol>

            <div class="container flex flex-col flex-wrap px-5 py-4 mx-auto">

                <div class="my-5">
                    <a
                        class="w-full inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-md text-center font-medium tracking-widest">
                        {{ formConfig.title }}
                    </a>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div *ngFor="let input of formConfig.inputs">
                        <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-3">
                            <label for="{{ input.name }}" class="block text-sm font-semibold text-gray-900">{{
                                input.label
                                }}</label>

                            <div class="mt-2.5">
                                <ng-container [ngSwitch]="input.type">
                                    <input *ngSwitchCase="'text'" type="text" [formControlName]="input.name"
                                        class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <input *ngSwitchCase="'number'" type="number" [formControlName]="input.name"
                                        class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <input *ngSwitchCase="'email'" type="email" [formControlName]="input.name"
                                        class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                    <select *ngSwitchCase="'dropdown'" [formControlName]="input.name"
                                        class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <option *ngFor="let option of input.options" [value]="option.value">{{
                                            option.label }}
                                        </option>
                                    </select>
                                    <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="input.name"
                                        class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                </ng-container>
                                <div *ngIf="form.get(input.name)?.invalid && form.get(input.name)?.touched"
                                    class="text-sm text-red-600">
                                    {{ input.label }} is required
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit"
                        class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 shadow-lg focus:outline-none">Submit</button>
                </form>

            </div>

        </div>
    </div>
</section> -->




<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="flex flex-wrap w-full">

            <ol
                class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
                <li
                    class="flex md:w-full items-center text-blue-600 dark:text-blue-500 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <svg aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Contacto
                    </span>
                </li>
                <li
                    class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <span class="mr-2">⚫</span>
                        Ubicacion
                    </span>
                </li>
                <li class="flex items-center">
                    <span class="mr-2">⚫</span>
                    Otros
                </li>
            </ol>

            <div *ngFor="let item of formConfig; let i = index">

                <div class="container flex flex-col flex-wrap px-5 py-4 mx-auto">

                    <div class="my-5">
                        <a
                            class="w-full inline-block py-1 px-2 rounded bg-indigo-50 text-indigo-500 text-md text-center font-medium tracking-widest">
                            {{ formConfig[i].title }}
                        </a>
                    </div>

                    <form [formGroup]="forms[i]" (ngSubmit)="onSubmit(i)">
                        <div *ngFor="let input of formConfig[i].inputs">
                            <div class="grid grid-cols-1 gap-x-8 sm:grid-cols-3">
                                <label for="{{ input.name }}" class="block text-sm font-semibold text-gray-900">{{
                                    input.label
                                    }}</label>

                                <div class="mt-2.5">
                                    <ng-container [ngSwitch]="input.type">
                                        <input *ngSwitchCase="'text'" type="text" [formControlName]="input.name"
                                            class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <input *ngSwitchCase="'number'" type="number" [formControlName]="input.name"
                                            class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <input *ngSwitchCase="'email'" type="email" [formControlName]="input.name"
                                            class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                        <select *ngSwitchCase="'dropdown'" [formControlName]="input.name"
                                            class="block w-full rounded-md border-0 py-2 px-3.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                            <option *ngFor="let option of input.options" [value]="option.value">{{
                                                option.label }}
                                            </option>
                                        </select>
                                        <input *ngSwitchCase="'checkbox'" type="checkbox" [formControlName]="input.name"
                                            class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                                    </ng-container>
                                    <div *ngIf="forms[i].get(input.name)?.invalid && forms[i].get(input.name)?.touched"
                                        class="text-sm text-red-600">
                                        {{ input.label }} is required
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit"
                            class="mt-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 shadow-lg focus:outline-none">Submit</button>
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>